body {
    background: var(--body-bg-color);
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 2;
    min-height: 100%;
    position: relative;
    transition: padding 0.2s ease-in-out;
    background: #fff url("https://wangguanjingji.oss-cn-beijing.aliyuncs.com/picture/%E7%8C%AB%E6%9F%9A%E6%B1%81%E6%B1%81.jpg") ;
}
/* @media screen and (max-width: 300px) {
    .shoujibengji {
      background: salmon;
      background: rgb(201, 200, 183)url("");
    }
  } */

.post-header {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}


.htmleaf-demo {
    width: 100%;
    text-align: center;
}

.htmleaf-demo a {
    font-size: 0.01px;
    color: #fff;
    background: #67b3e7;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 1em;
    margin-bottom: 10px ;
    border: 1px solid #fff;
    border-radius: 12px;
    font-weight: 200;
    width: 110px;
    width: 180px;
}

.htmleaf-demo a:hover {
    opacity: 0.8;
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    word-wrap: break-word;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}