body {
    background: var(--body-bg-color);
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 2;
    min-height: 100%;
    position: relative;
    transition: padding 0.2s ease-in-out;
    background: #fff url("https://wangguanjingji.oss-cn-beijing.aliyuncs.com/picture/%E7%8C%AB%E6%9F%9A%E6%B1%81%E6%B1%81.jpg") no-repeat !important;
}
/* @media screen and (max-width: 300px) {
    .shoujibengji {
      background: salmon;
      background: rgb(201, 200, 183)url("");
    }
  } */

.post-header {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}


.htmleaf-demo {
    width: 100%;
    text-align: center;
}

.htmleaf-demo a {
    font-size: 6px;
    color: #fff;
    background: #67b3e7;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 1em;
    margin-bottom: 10px ;
    border: 1px solid #fff;
    border-radius: 12px;
    font-weight: 200;
    width: 110px;
    width: 160px;
}

.htmleaf-demo a:hover {
    opacity: 0.8;
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    word-wrap: break-word;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* 弹幕 */

@-webkit-keyframes rotateOutDownLeft {
	0% {
		transform-origin: left bottom;
		opacity: 1
	}

	0%,to {
		-webkit-transform-origin: left bottom
	}

	to {
		transform-origin: left bottom;
		-webkit-transform: rotate(45deg) translateY(20px);
		transform: rotate(45deg) translateY(20px);
		opacity: 0
	}
}

@keyframes rotateOutDownLeft {
	0% {
		transform-origin: left bottom;
		opacity: 1
	}

	0%,to {
		-webkit-transform-origin: left bottom
	}

	to {
		transform-origin: left bottom;
		-webkit-transform: rotate(45deg) translateY(20px);
		transform: rotate(45deg) translateY(20px);
		opacity: 0
	}
}

.Lose{
	display: -webkit-inline-box;
	animation: rotateOutDownLeft 1000ms infinite;
    -webkit-animation: rotateOutDownLeft 1000ms infinite; /* Safari 与 Chrome */
}
.Barrage {
	position: absolute;
	width: 100%;
	height: 380px;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
.message {
	width: 60%;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	line-height: 48px;
	font-size: 15px;
	cursor: pointer;
	background: rgba(89,13,117,.25);
	/* background-color: #a018d3;
	background-repeat: repeat-y;
	background-image: -moz-linear-gradient(0deg,rgba(254,48,174,.5),rgba(160,24,211,.5));
	background-image: -webkit-linear-gradient(0deg,rgba(254,48,174,.5),rgba(160,24,211,.5));
	background-image: -o-linear-gradient(0deg,rgba(254,48,174,.5),rgba(160,24,211,.5));
	background-image: linear-gradient(0deg,rgba(254,48,174,.5),rgba(160,24,211,.5)); */
}

.key {
	position: fixed;
	width: 100%;
	height: 200px;
	padding: 40px 20px 20px 20px;
	box-sizing: border-box;
	background: white;
	z-index: 20;
	bottom: -400px;
	border-radius: 20px 20px 0px 0px;
	transition: all 300ms;
}
.keys{
	bottom: 0px;
	animation: keys 300ms ease;
    -webkit-animation: keys 300ms ease; /* Safari 与 Chrome */
}
@-webkit-keyframes keys {
	0% {
		transform: translateY(400px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes keys {
	0% {
		transform: translateY(400px);
	}
	100% {
		transform: translateY(0px);
	}
}

.van-field__control {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
	margin: 0;
	padding: 0;
	color: #323233;
	text-align: left;
	background-color: transparent;
	border: 0;
	resize: none;
	min-height: 100px;
	font-size: 16px;
}
.buts {
	width: 80%;
	height: 42px;
	background-color: #a018d3;
	background-repeat: repeat-y;
	background-image: -moz-linear-gradient(left,#a018d3,#fe30ae);
	background-image: -webkit-linear-gradient(left,#a018d3,#fe30ae);
	background-image: -o-linear-gradient(left,#a018d3,#fe30ae);
	background-image: linear-gradient(left,#a018d3,#fe30ae);
	border-radius: 21px;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.iocnBox {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #333;
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	cursor: pointer;
}
.iocnBox i {
	font-size: 18px;
	color: #909399;
}
.remove{
	animation-fill-mode: forwards;
	animation: remove 300ms ease;
    -webkit-animation: remove 300ms ease; /* Safari 与 Chrome */
}
@-webkit-keyframes remove {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(400px);
	}
}
@keyframes remove {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(400px);
	}
}

.Barrage span {
	position: absolute;
	background: rgba(89,13,117,.25);
	color: white;
	display: initial;
	padding: 0px 15px;
	box-sizing: border-box;
	border-radius: 20px;
	line-height: 35px;
	animation: Barrag 10s linear infinite;
	-webkit-animation: Barrag 10s linear infinite;
	top: 60px;
	white-space: nowrap;
	font-size: 12px;
}
@keyframes Barrag
{
    0% {right: -200px;opacity: 1;}
    80% {right: 1120px;opacity: 1;}
    100% {right: 1400px;opacity: 0;}
}
 
@-webkit-keyframes Barrag /* Safari 与 Chrome */
{
    0% {right: -200px;opacity: 1;}
    80% {right: 1120px;opacity: 1;}
    100% {right: 1400px;opacity: 0;}
}
.Barrage span:nth-child(2):before,
.Barrage span:nth-child(1):before{
	content:"";
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background:url(../images/bq001.png) no-repeat;
	background-size: 24px 24px;
	background-position: center bottom;
	display: inline-block;
	vertical-align: middle;
}
.Barrage span:nth-child(2):after,
.Barrage span:nth-child(1):after{
	content:"";
	width: 26px;
	height: 26px;
	margin-left: 5px;
	background:url(../images/bq002.gif) no-repeat;
	background-size: 26px auto;
	background-position: center bottom;
	display: inline-block;
	vertical-align: middle;
}
.B-span2{
	top: 100px!important;
	color: #ff0!important;
	animation: Barrag 6s linear infinite!important;
	-webkit-animation: Barrag 6s linear infinite!important;
}
.Barrage span:nth-child(3){
	top: 140px!important;
	color: #0dd2ef!important;
	animation: Barrag 12.8s linear infinite!important;
	-webkit-animation: Barrag 12.8s linear infinite!important;
}
.Barrage span:nth-child(4){
	top: 160px!important;
	color: #ff0!important;
	animation: Barrag 10s linear infinite!important;
	-webkit-animation: Barrag 10s linear infinite!important;
}
.Barrage span:nth-child(5){
	top: 190px!important;
	color: #3fd316!important;
	animation: Barrag 17.5s linear infinite!important;
	-webkit-animation: Barrag 17.5s linear infinite!important;
}
.Barrage span:nth-child(6){
	top: 100px!important;
	color: #ff0!important;
	animation: Barrag 20s linear infinite!important;
	-webkit-animation: Barrag 20s linear infinite!important;
}
.Barrage span:nth-child(7){
	top: 120px!important;
	color: #0dd2ef!important;
	animation: Barrag 15s linear infinite!important;
	-webkit-animation: Barrag 15s linear infinite!important;
}
.Barrage span:nth-child(8){
	top: 200px!important;
	color: #ff0!important;
	animation: Barrag 16s linear infinite!important;
	-webkit-animation: Barrag 16s linear infinite!important;
}
.Barrage span:nth-child(9){
	top: 80px!important;
	color: #3fd316!important;
	animation: Barrag 8s linear infinite!important;
	-webkit-animation: Barrag 8s linear infinite!important;
}
@keyframes Barragss
{
    0% {right: 0px;opacity: 1;}
    80% {right: 1120px;opacity: 1;}
    100% {right: 1400px;opacity: 0;}
}
 
@-webkit-keyframes Barragss /* Safari 与 Chrome */
{
    0% {right: 0px;opacity: 1;}
    80% {right: 1120px;opacity: 1;}
    100% {right: 1400px;opacity: 0;}
}

.Tips {
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 120px;
	height: 45px;
	border-radius: 4px;
	line-height: 45px;
	text-align: center;
}

.empty {
	position: absolute;
	width: 40px;
	height: 30px;
	top: 38px;
	right: 15px;
	margin: auto;
	color: red;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	opacity: 0;
}
.Tipss{
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	height: 45px;
	border-radius: 4px;
	line-height: 45px;
	text-align: center;
}
.music {
	width: 270px;
	margin: 30px auto;
	height: 45px;
}
.music audio {
	background: none;
	width: 100%;
	height: 100%;
}
.music marquee {
	font-size: 13px;
	color: yellow;
	margin-top: 5px;
}